In [1]:
#importation des librairies nécessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
sinistre_clean= pd.read_csv('Dataset_clean/sinistre_clean_weather.csv',low_memory=False)

In [121]:
ariana_manouba= pd.read_csv('Dataset_clean/ariana_manouba.csv',low_memory=False)

In [4]:
df=sinistre_clean[~sinistre_clean["temperatureMinimale"].isnull()]

In [123]:
df2=ariana_manouba[ (~ariana_manouba["temperatureMinimale"].isnull()) & (ariana_manouba["lieuDuSinistreajuste"].isin(["ariana","manouba"]))]

In [4]:
df.columns

Index(['sinistre_id', 'cga_police_id', 'cga_vehicule_id', 'cga_assure_id',
       'dateDeSurvenanceDuSinistre', 'heureSurvanceDusinistre',
       'dateOuvertureDuSinistre', 'lieuDuSinistre', 'identificationTiers',
       'pourcentadeDeResponsabilite', 'numeroDePoliceCompagnieAdverse',
       'codeCompagnieAdverse', 'porcentageCompagnieAdverse',
       'numeroImmatriculationVehiculeAdverse',
       'typeImmatriculationVehiculeAdverse', 'mouvementDusinistre',
       'natureDuSinistre', 'Calculer_Sinistre', 'lieuDuSinistreajuste',
       'heureSurvanceDusinistreajuste', 'mois', 'saison', 'annee', 'fraude',
       'TypeFraude1', 'TypeFraude2', 'TypeFraude3', 'TypeFraude4',
       'temperatureMaximale', 'temperatureMinimale', 'vitesseVent', 'Humidite',
       'Visibilite', 'etat', 'Precipitations'],
      dtype='object')

In [124]:
df=df.drop(columns=['sinistre_id', 'cga_police_id',"dateOuvertureDuSinistre", "mois","saison","annee",'cga_vehicule_id', 'cga_assure_id','lieuDuSinistre','identificationTiers','pourcentadeDeResponsabilite', 'numeroDePoliceCompagnieAdverse','codeCompagnieAdverse', 'porcentageCompagnieAdverse','numeroImmatriculationVehiculeAdverse','typeImmatriculationVehiculeAdverse', 'heureSurvanceDusinistre','mouvementDusinistre','Calculer_Sinistre','TypeFraude1', 'TypeFraude2', 'TypeFraude3', 'TypeFraude4'])
df=df2.drop(columns=['sinistre_id', 'cga_police_id',"dateOuvertureDuSinistre", "mois","saison","annee",'cga_vehicule_id', 'cga_assure_id','lieuDuSinistre','identificationTiers','pourcentadeDeResponsabilite', 'numeroDePoliceCompagnieAdverse','codeCompagnieAdverse', 'porcentageCompagnieAdverse','numeroImmatriculationVehiculeAdverse','typeImmatriculationVehiculeAdverse', 'heureSurvanceDusinistre','mouvementDusinistre','Calculer_Sinistre','TypeFraude1', 'TypeFraude2', 'TypeFraude3', 'TypeFraude4'])

In [125]:
df=df[df["fraude"]==0]
df2=df2[df2["fraude"]==0]

In [126]:
df.drop(columns=["fraude"],inplace=True)
df2.drop(columns=["fraude"],inplace=True)

In [128]:
df2.head()

,sinistre_id,cga_police_id,cga_vehicule_id,cga_assure_id,dateDeSurvenanceDuSinistre,heureSurvanceDusinistre,dateOuvertureDuSinistre,lieuDuSinistre,identificationTiers,pourcentadeDeResponsabilite,...,TypeFraude2,TypeFraude3,TypeFraude4,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations
11749,12400,1243091,996862,973711,2017-10-17,1730.0,2017-10-19,ROUTE DE SOKRA KM3,NaN,0,...,0,0,0,26.0,23.0,13.0,53.0,10.000,Ciel dégagé pleinement ensoleillé,-1.0
11776,12432,1243388,997112,973986,2017-10-09,0.0,2017-10-20,SOUKRA,NaN,100,...,0,0,0,30.0,23.0,32.0,67.0,9.625,Soleil et partiellement nuageux,4.0
11781,12437,1243425,997142,974023,2018-01-14,1200.0,2018-01-15,LA GAZELLE,NaN,0,...,0,0,0,15.0,12.0,13.0,66.0,10.000,Ciel dégagé pleinement ensoleillé,0.0
11792,12449,1243541,997240,974135,2017-09-12,1410.0,2017-09-18,LA SOUKRA,NaN,0,...,0,0,0,15.0,13.0,22.0,70.0,10.000,Nuageux,1.0
11794,12451,1243481,507934,974079,2017-04-06,1400.0,2017-04-07,ARIANA,A,0,...,0,0,0,29.0,27.0,17.0,37.0,10.000,Soleil et partiellement nuageux,0.0

In [2]:
weather= pd.read_csv('Dataset_clean/weather_Finale.csv')

In [4]:
weather.head(5)

,lieu,date,temperatureMaximale (°),temperatureMinimale (°),vitesseVent (km/h),Humidite (%),Visibilite (km),etat,Precipitations (mm)
0,tunis,2017-01-01,12,11,12.0,61,10.000,Nuageux,0.0
1,tunis,2017-02-01,14,11,9.0,63,10.000,Ciel dégagé pleinement ensoleillé,-1.0
2,tunis,2017-03-01,15,12,23.0,54,10.000,Soleil et partiellement nuageux,0.0
3,tunis,2017-04-01,15,14,31.0,69,10.000,Soleil et partiellement nuageux,1.0
4,tunis,2017-05-01,15,14,52.0,62,9.875,Nuageux,3.0

In [5]:
df["lieuDuSinistreajuste"].unique()

array(['sfax', 'tunis', 'beja', 'gabes', 'nabeul', 'mahdia', 'jendouba',
       'ben arous', 'zaghouan', 'sousse', 'monastir', 'sidi bouzid',
       'bizerte', 'kebili', 'kef', 'kairouan', 'medenine', 'gafsa',
       'kasserine', 'tozeur', 'tataouine', 'siliana'], dtype=object)

In [131]:
df_new=df.groupby(['dateDeSurvenanceDuSinistre','lieuDuSinistreajuste']).lieuDuSinistreajuste.agg('count').to_frame('NombreSinistre').reset_index()

In [132]:
df_new2=df2.groupby(['dateDeSurvenanceDuSinistre','lieuDuSinistreajuste']).lieuDuSinistreajuste.agg('count').to_frame('NombreSinistre').reset_index()

In [134]:
df_new["temperatureMaximale"]=np.nan
df_new["temperatureMinimale"]=np.nan
df_new["vitesseVent"]=np.nan
df_new["Humidite"]=np.nan
df_new["Visibilite"]=np.nan
df_new["etat"]=np.nan
df_new["Precipitations"]=np.nan

In [135]:
df_new2["temperatureMaximale"]=np.nan
df_new2["temperatureMinimale"]=np.nan
df_new2["vitesseVent"]=np.nan
df_new2["Humidite"]=np.nan
df_new2["Visibilite"]=np.nan
df_new2["etat"]=np.nan
df_new2["Precipitations"]=np.nan

In [136]:
df_new=df_new[['dateDeSurvenanceDuSinistre', 'lieuDuSinistreajuste',
       'temperatureMaximale', 'temperatureMinimale', 'vitesseVent', 'Humidite',
       'Visibilite', 'etat', 'Precipitations','NombreSinistre']]

In [80]:
for value in df_new[  df_new["Precipitations"].isnull() ][["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]].values:
    for weather_value in weather[["date","lieu","temperatureMaximale (°) ","temperatureMinimale (°)","vitesseVent  (km/h)","Humidite (%)","Visibilite (km)","etat","Precipitations (mm)"]].values:
        if (value[0]==weather_value[0] and value[1]==weather_value[1] ):
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'temperatureMaximale']=weather_value[2]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'temperatureMinimale']=weather_value[3]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'vitesseVent']=weather_value[4]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'Humidite']=weather_value[5]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'Visibilite']=weather_value[6]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'etat']=weather_value[7]
            df_new.loc[((df_new["dateDeSurvenanceDuSinistre"]==value[0]) & (df_new["lieuDuSinistreajuste"]==value[1])),'Precipitations']=weather_value[8]

In [37]:
for value in df_new2[  df_new2["Precipitations"].isnull() ][["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]].values:
    for weather_value in weather[weather["lieu"]=="tunis"][["date","lieu","temperatureMaximale (°) ","temperatureMinimale (°)","vitesseVent  (km/h)","Humidite (%)","Visibilite (km)","etat","Precipitations (mm)"]].values:
        if (value[0]==weather_value[0]  ):
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'temperatureMaximale']=weather_value[2]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'temperatureMinimale']=weather_value[3]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'vitesseVent']=weather_value[4]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'Humidite']=weather_value[5]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'Visibilite']=weather_value[6]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'etat']=weather_value[7]
            df_new2.loc[((df_new2["dateDeSurvenanceDuSinistre"]==value[0]) ),'Precipitations']=weather_value[8]

In [38]:
df_new2

,dateDeSurvenanceDuSinistre,lieuDuSinistreajuste,NombreSinistre,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations
0,2017-01-01,ariana,3,12.0,11.0,12.0,61.0,10.000,Nuageux,0.0
1,2017-01-02,ariana,8,17.0,13.0,19.0,57.0,10.000,Ciel dégagé pleinement ensoleillé,-1.0
2,2017-01-02,manouba,1,17.0,13.0,19.0,57.0,10.000,Ciel dégagé pleinement ensoleillé,-1.0
3,2017-01-03,ariana,10,17.0,15.0,26.0,72.0,10.000,Ciel dégagé pleinement ensoleillé,1.0
4,2017-01-03,manouba,5,17.0,15.0,26.0,72.0,10.000,Ciel dégagé pleinement ensoleillé,1.0
...,...,...,...,...,...,...,...,...,...,...
1772,2019-09-13,manouba,1,28.0,26.0,17.0,64.0,10.000,Soleil et partiellement nuageux,-1.0
1773,2019-09-18,manouba,3,31.0,28.0,13.0,64.0,9.875,Soleil et partiellement nuageux,1.0
1774,2019-09-19,manouba,2,31.0,29.0,16.0,61.0,10.000,Soleil et partiellement nuageux,0.0
1775,2019-09-20,manouba,1,29.0,27.0,18.0,67.0,9.375,Soleil et partiellement nuageux,2.0
1776,2019-09-21,manouba,1,30.0,27.0,25.0,74.0,9.625,Soleil et partiellement nuageux,4.0

In [41]:
#df_new.to_csv("Dataset_clean/sinistre_weather.csv",index=False)
#df_new=pd.read_csv('Dataset_clean/sinistre_weather.csv')

In [43]:
#data=pd.concat([df_new,df_new2])

In [44]:
#data.to_csv("Dataset_clean/External_Data.csv",index=False)

In [2]:
data=pd.read_csv('Dataset_clean/External_Data.csv')

In [3]:
data

,dateDeSurvenanceDuSinistre,lieuDuSinistreajuste,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations,NombreSinistre
0,2017-01-01,beja,12.0,9.0,8.0,66.0,10.000,Nuageux,-1.0,2
1,2017-01-01,ben arous,12.0,9.0,10.0,64.0,10.000,Couvert,0.0,7
2,2017-01-01,kairouan,13.0,10.0,8.0,56.0,10.000,Nuageux,-1.0,2
3,2017-01-01,kasserine,8.0,6.0,13.0,63.0,10.000,Soleil et partiellement nuageux,-1.0,1
4,2017-01-01,mahdia,14.0,10.0,16.0,59.0,10.000,Couvert,0.0,1
...,...,...,...,...,...,...,...,...,...,...
16930,2019-09-13,manouba,28.0,26.0,17.0,64.0,10.000,Soleil et partiellement nuageux,-1.0,1
16931,2019-09-18,manouba,31.0,28.0,13.0,64.0,9.875,Soleil et partiellement nuageux,1.0,3
16932,2019-09-19,manouba,31.0,29.0,16.0,61.0,10.000,Soleil et partiellement nuageux,0.0,2
16933,2019-09-20,manouba,29.0,27.0,18.0,67.0,9.375,Soleil et partiellement nuageux,2.0,1
16934,2019-09-21,manouba,30.0,27.0,25.0,74.0,9.625,Soleil et partiellement nuageux,4.0,1

In [184]:
data["etat"].unique()

array(['Nuageux', 'Couvert', 'Soleil et partiellement nuageux',
       'Ciel dégagé  pleinement ensoleillé', 'Foyers orageux à proximité',
       'Averses de pluie et orages', 'Pluie légère et soleil',
       'Faibles averses de pluie', 'Bruine légère partielle',
       'Faible pluie en continue', 'Faible pluie non continue',
       'Pluie modérée en continue', 'Pluie forte ou modéré',
       'Pluie modérée non continue', 'Bruine légère',
       'Forte pluie et orages', 'Forte pluie continue'], dtype=object)

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["lieu_encode"]=le.fit_transform(data["lieuDuSinistreajuste"])

In [5]:
print(le.transform(["sousse"]))

[19]

In [7]:
le_etat = LabelEncoder()
data["etat_encode"]=le_etat.fit_transform(data["etat"])

In [8]:
print(le_etat.transform(["Pluie forte ou modéré"]))

[12]

In [10]:
data.drop(columns=["lieuDuSinistreajuste","etat"],inplace=True)

In [11]:
data['dateDeSurvenanceDuSinistre']=pd.to_datetime(data['dateDeSurvenanceDuSinistre'])

In [12]:
#CONVERSION LA dateEffetPolice EN ANNEE , mois , jour
data['annee'] = pd.DatetimeIndex(data['dateDeSurvenanceDuSinistre']).year
data['mois'] = pd.DatetimeIndex(data['dateDeSurvenanceDuSinistre']).month
data['jour'] = pd.DatetimeIndex(data['dateDeSurvenanceDuSinistre']).day

In [13]:
data.drop(columns=["dateDeSurvenanceDuSinistre"],inplace=True)

In [14]:
data["temperature"]=np.round((data['temperatureMaximale']+data['temperatureMinimale'])/2)

In [15]:
data.columns

Index(['temperatureMaximale', 'temperatureMinimale', 'vitesseVent', 'Humidite',
       'Visibilite', 'Precipitations', 'NombreSinistre', 'lieu_encode',
       'etat_encode', 'annee', 'mois', 'jour', 'temperature'],
      dtype='object')

In [16]:
data=data.drop(columns=["temperatureMaximale","temperatureMinimale"])

In [17]:
data=data[['temperature', 'vitesseVent', 'Humidite','Visibilite', 'Precipitations', 'lieu_encode','etat_encode', 'annee', 'mois', 'jour','NombreSinistre']]

In [18]:
data

,temperature,vitesseVent,Humidite,Visibilite,Precipitations,lieu_encode,etat_encode,annee,mois,jour,NombreSinistre
0,10.0,8.0,66.0,10.000,-1.0,1,11,2017,1,1,2
1,10.0,10.0,64.0,10.000,0.0,2,4,2017,1,1,7
2,12.0,8.0,56.0,10.000,-1.0,7,11,2017,1,1,2
3,7.0,13.0,63.0,10.000,-1.0,8,16,2017,1,1,1
4,12.0,16.0,59.0,10.000,0.0,11,4,2017,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
16930,27.0,17.0,64.0,10.000,-1.0,12,16,2019,9,13,1
16931,30.0,13.0,64.0,9.875,1.0,12,16,2019,9,18,3
16932,30.0,16.0,61.0,10.000,0.0,12,16,2019,9,19,2
16933,28.0,18.0,67.0,9.375,2.0,12,16,2019,9,20,1
16934,28.0,25.0,74.0,9.625,4.0,12,16,2019,9,21,1

In [19]:
data["Precipitations"].replace(-1,0,True)

# Modlisation

In [20]:
#Partition de la dataframe en une variable à expliquer et des variable explicatives
X= data.iloc[:,0:-1]
y= data.iloc[:,-1]

In [21]:
train_test_split?

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.8, random_state=42)

# DecisionTreeRegressor

In [23]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
y_pred_dtr = dtr.predict(X_test)

In [24]:
#Evaluation de la prédiction
from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score

In [25]:
print('train_score = ',dtr.score(X_train,y_train)) 
print('test_score = ',dtr.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred_dtr))
print('MAE = ',mean_squared_error(y_test, y_pred_dtr))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_dtr)))
print('MAE = ', mean_absolute_error(y_test, y_pred_dtr))
print('MeadianAE = ', median_absolute_error(y_test, y_pred_dtr))

train_score =  1.0
test_score =  0.814561024477695
R2 =  0.814561024477695
MAE =  83.35842928845587
RMSE =  9.13008375035278
MAE =  4.433274284027163
MeadianAE =  2.0

# RandomForestRegressor

In [26]:
RFR = RandomForestRegressor()
RFR.fit(X_train,y_train)
y_pred_rfr = RFR.predict(X_test)

In [27]:
print('train_score = ',RFR.score(X_train,y_train)) 
print('test_score = ',RFR.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred_rfr))
print('MAE = ',mean_squared_error(y_test, y_pred_rfr))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_rfr)))
print('MAE = ', mean_absolute_error(y_test, y_pred_rfr))
print('MeadianAE = ', median_absolute_error(y_test, y_pred_rfr))

train_score =  0.9855238506924784
test_score =  0.8913483863370181
R2 =  0.8913483863370181
MAE =  48.84101537496309
RMSE =  6.988634728969822
MAE =  3.4388005609684087
MeadianAE =  1.5099999999999998

In [28]:
from xgboost import XGBRegressor

In [29]:
XGBR = XGBRegressor()
XGBR.fit(X_train,y_train)
y_pred_xgb = XGBR.predict(X_test)

In [30]:
print('train_score = ',XGBR.score(X_train,y_train)) 
print('test_score = ',XGBR.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred_xgb))
print('MAE = ',mean_squared_error(y_test, y_pred_xgb))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_xgb)))
print('MAE = ', mean_absolute_error(y_test, y_pred_xgb))
print('MeadianAE = ', median_absolute_error(y_test, y_pred_xgb))

train_score =  0.9922759498569945
test_score =  0.883681904641837
R2 =  0.883681904641837
MAE =  52.287248134171364
RMSE =  7.230992195692882
MAE =  3.7509445818297835
MeadianAE =  1.9579926133155823

 # LGBMRegressor

In [31]:
from lightgbm import LGBMRegressor

In [32]:
LGBM = LGBMRegressor()
LGBM.fit(X_train,y_train)
y_pred_LGBM = LGBM.predict(X_test)

In [33]:
print('train_score = ',LGBM.score(X_train,y_train)) 
print('test_score = ',LGBM.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred_LGBM))
print('MAE = ',mean_squared_error(y_test, y_pred_LGBM))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_LGBM)))
print('MAE = ', mean_absolute_error(y_test, y_pred_LGBM))
print('MeadianAE = ', median_absolute_error(y_test, y_pred_LGBM))

train_score =  0.9608385961846544
test_score =  0.892781189897498
R2 =  0.892781189897498
MAE =  48.196942283294476
RMSE =  6.942401766196946
MAE =  3.5162217357360954
MeadianAE =  1.7185492021253286

In [6]:
import joblib

joblib.dump(le,"Location_Encoder.sav")

['Location_Encoder.sav']

In [9]:
joblib.dump(le_etat,"weather_Encoder.sav")

In [34]:
import joblib

joblib.dump(LGBM,"LGBM.sav")

['LGBM.sav']