In [1]:
#importation des librairies n√©cessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
from pandas_profiling import ProfileReport

In [3]:
police_xls = pd.read_excel('Dataset/Police.xls')
police_csv = pd.read_csv('Dataset/police.csv',sep=";")

In [5]:
police_xls.columns

Index(['CodePolice_id', 'codeCompagnie', 'codeAgence', 'typeIntermediaire',
       'numPolice', 'naturePolice', 'typePolice', 'Etat_Police',
       'dateEffetPolice', 'dateEcheancePolice'],
      dtype='object')

In [4]:
police_csv.columns

Index(['id', 'codeCompagnie', 'codeAgence', 'typeIntermediaire',
       'code_Courtier_CGA', 'numPolice', 'naturePolice', 'typePolice',
       'dateEffetPolice', 'dateEcheancePolice', 'dateExpirationPolice',
       'verouillageModifPolice', 'Etat_Police', 'RESILIATION_ECHEANCE',
       'DATE_RESILIATION', 'Date_Suspenssion', 'dateRemiseEnVigueure'],
      dtype='object')

In [6]:
police_xls.shape

(937280, 10)

In [7]:
police_csv.shape

(30000, 17)

In [7]:
police_xls.head(3)

,CodePolice_id,codeCompagnie,codeAgence,typeIntermediaire,numPolice,naturePolice,typePolice,Etat_Police,dateEffetPolice,dateEcheancePolice
0,545568,1,599,1,20155.0076050/6,R,I,R,2015-10-13,1013.0
1,545569,1,655,1,20155.0076056/5,R,I,V,2015-10-13,1013.0
2,545570,1,757,1,20155.0076058/9,R,I,V,2015-10-13,1013.0

In [8]:
police_csv.head(3)

,id,codeCompagnie,codeAgence,typeIntermediaire,code_Courtier_CGA,numPolice,naturePolice,typePolice,dateEffetPolice,dateEcheancePolice,dateExpirationPolice,verouillageModifPolice,Etat_Police,RESILIATION_ECHEANCE,DATE_RESILIATION,Date_Suspenssion,dateRemiseEnVigueure
0,2983408,14,600,2,NaN,CI0555N00178280,R,I,2018-10-13,1013,NaN,0,V,NaN,NaN,NaN,2018-10-13 00:00:00.000000
1,2983523,14,723,1,NaN,CI0555N00182003,R,I,2018-10-28,1028,NaN,0,V,NaN,NaN,NaN,2018-10-28 00:00:00.000000
2,2983642,14,605,1,NaN,CI0555N00179969,R,I,2018-10-22,1022,NaN,0,V,NaN,NaN,NaN,2018-10-22 00:00:00.000000

In [8]:
police_csv["dateEcheancePolice"].isnull().sum()

0

In [10]:
police_csv["typeIntermediaire"].value_counts()

1    22192
2     6782
3     1026
Name: typeIntermediaire, dtype: int64

In [11]:
police_csv["code_Courtier_CGA"].unique()

array([nan, 56., 36., 35., 47., 42., 13., 28., 57., 14., 59., 32., 21.,
       43.,  6., 58., 64.,  9., 10., 38., 34., 45.,  3., 20.,  4., 54.,
       33.,  1., 41., 37., 46., 22., 17., 26., 30., 11., 12., 23., 18.,
       63., 50., 27., 44., 15., 51., 49., 25., 61., 31.,  8., 48., 60.,
       39.])

In [12]:
police_csv['dateExpirationPolice'].isnull().sum()

30000

In [13]:
police_csv['verouillageModifPolice'].value_counts()

0    30000
Name: verouillageModifPolice, dtype: int64

In [14]:
police_csv['RESILIATION_ECHEANCE'].isnull().sum()

29970

In [15]:
police_csv['RESILIATION_ECHEANCE'].value_counts()

0.0    28
1.0     2
Name: RESILIATION_ECHEANCE, dtype: int64

In [16]:
police_csv['DATE_RESILIATION'].isnull().sum()

29928

In [17]:
police_csv['Date_Suspenssion'].isnull().sum()

29628

In [9]:
police_csv.drop(columns=["code_Courtier_CGA","dateExpirationPolice","verouillageModifPolice","RESILIATION_ECHEANCE","DATE_RESILIATION","Date_Suspenssion"],inplace=True)

In [10]:
police_xls.isnull().sum()

CodePolice_id             0
codeCompagnie             0
codeAgence                0
typeIntermediaire         0
numPolice                 0
naturePolice              0
typePolice                0
Etat_Police               0
dateEffetPolice           0
dateEcheancePolice    91884
dtype: int64

In [11]:
police_xls.shape

(937280, 10)

In [12]:
police_csv[["dateRemiseEnVigueure","dateEffetPolice"]]

             dateRemiseEnVigueure dateEffetPolice
0      2018-10-13 00:00:00.000000      2018-10-13
1      2018-10-28 00:00:00.000000      2018-10-28
2      2018-10-22 00:00:00.000000      2018-10-22
3      2018-10-23 00:00:00.000000      2018-10-23
4      2018-10-25 00:00:00.000000      2018-10-25
...                           ...             ...
29995  2018-10-30 00:00:00.000000      2018-10-30
29996  2018-10-19 00:00:00.000000      2018-10-19
29997  2018-10-09 00:00:00.000000      2018-10-09
29998  2018-10-30 00:00:00.000000      2018-10-30
29999  2018-10-09 00:00:00.000000      2018-10-09

[30000 rows x 2 columns]

In [13]:
police_csv['dateRemiseEnVigueureajuste'] = pd.DatetimeIndex(police_csv['dateRemiseEnVigueure']).date

In [14]:
police_csv[['dateRemiseEnVigueureajuste',"dateEffetPolice"]]

      dateRemiseEnVigueureajuste dateEffetPolice
0                     2018-10-13      2018-10-13
1                     2018-10-28      2018-10-28
2                     2018-10-22      2018-10-22
3                     2018-10-23      2018-10-23
4                     2018-10-25      2018-10-25
...                          ...             ...
29995                 2018-10-30      2018-10-30
29996                 2018-10-19      2018-10-19
29997                 2018-10-09      2018-10-09
29998                 2018-10-30      2018-10-30
29999                 2018-10-09      2018-10-09

[30000 rows x 2 columns]

In [15]:
police_csv['dateRemiseEnVigueureajuste'].equals(police_csv['dateEffetPolice'])

False

In [16]:
police_csv['dateEffetPolice'].isnull().sum()

0

In [17]:
police_csv[~(police_csv['dateRemiseEnVigueureajuste']==police_csv['dateEffetPolice'])][['dateRemiseEnVigueureajuste',"dateEffetPolice"]]

      dateRemiseEnVigueureajuste dateEffetPolice
0                     2018-10-13      2018-10-13
1                     2018-10-28      2018-10-28
2                     2018-10-22      2018-10-22
3                     2018-10-23      2018-10-23
4                     2018-10-25      2018-10-25
...                          ...             ...
29995                 2018-10-30      2018-10-30
29996                 2018-10-19      2018-10-19
29997                 2018-10-09      2018-10-09
29998                 2018-10-30      2018-10-30
29999                 2018-10-09      2018-10-09

[30000 rows x 2 columns]

In [18]:
police_csv['dateRemiseEnVigueureajuste']=pd.to_datetime(police_csv['dateRemiseEnVigueureajuste'])

In [19]:
police_csv['dateEffetPolice']=pd.to_datetime(police_csv['dateEffetPolice'])

In [20]:
police_csv[['dateRemiseEnVigueureajuste',"dateEffetPolice"]]

      dateRemiseEnVigueureajuste dateEffetPolice
0                     2018-10-13      2018-10-13
1                     2018-10-28      2018-10-28
2                     2018-10-22      2018-10-22
3                     2018-10-23      2018-10-23
4                     2018-10-25      2018-10-25
...                          ...             ...
29995                 2018-10-30      2018-10-30
29996                 2018-10-19      2018-10-19
29997                 2018-10-09      2018-10-09
29998                 2018-10-30      2018-10-30
29999                 2018-10-09      2018-10-09

[30000 rows x 2 columns]

In [21]:
police_csv.columns

Index(['id', 'codeCompagnie', 'codeAgence', 'typeIntermediaire', 'numPolice',
       'naturePolice', 'typePolice', 'dateEffetPolice', 'dateEcheancePolice',
       'Etat_Police', 'dateRemiseEnVigueure', 'dateRemiseEnVigueureajuste'],
      dtype='object')

In [22]:
police_xls.columns

Index(['CodePolice_id', 'codeCompagnie', 'codeAgence', 'typeIntermediaire',
       'numPolice', 'naturePolice', 'typePolice', 'Etat_Police',
       'dateEffetPolice', 'dateEcheancePolice'],
      dtype='object')

In [23]:
police_csv.rename(columns={"id": "CodePolice_id"},inplace=True)

In [24]:
police = pd.concat([police_xls, police_csv])

In [25]:
police.head(3)

,CodePolice_id,codeCompagnie,codeAgence,typeIntermediaire,numPolice,naturePolice,typePolice,Etat_Police,dateEffetPolice,dateEcheancePolice,dateRemiseEnVigueure,dateRemiseEnVigueureajuste
0,545568,1,599,1,20155.0076050/6,R,I,R,2015-10-13,1013.0,NaN,NaT
1,545569,1,655,1,20155.0076056/5,R,I,V,2015-10-13,1013.0,NaN,NaT
2,545570,1,757,1,20155.0076058/9,R,I,V,2015-10-13,1013.0,NaN,NaT

In [26]:
police.isnull().sum()

CodePolice_id                      0
codeCompagnie                      0
codeAgence                         0
typeIntermediaire                  0
numPolice                          0
naturePolice                       0
typePolice                         0
Etat_Police                        0
dateEffetPolice                    0
dateEcheancePolice             91884
dateRemiseEnVigueure          937280
dateRemiseEnVigueureajuste    937280
dtype: int64

In [27]:
police["dateRemiseEnVigueure"].value_counts()

2018-10-17 00:00:00.000000    711
2018-10-02 00:00:00.000000    701
2018-10-18 00:00:00.000000    698
2018-10-25 00:00:00.000000    695
2018-11-01 00:00:00.000000    691
                             ...
2019-07-08 00:00:00.000000      1
2019-07-15 00:00:00.000000      1
2019-04-30 00:00:00.000000      1
1994-11-29 00:00:00.000000      1
2005-11-12 00:00:00.000000      1
Name: dateRemiseEnVigueure, Length: 667, dtype: int64

In [28]:
police[police["numPolice"].duplicated()]["numPolice"]

1041           101088957
17379    CI0555N00090308
Name: numPolice, dtype: object

In [29]:
police[police["numPolice"]=="101088957"]

,CodePolice_id,codeCompagnie,codeAgence,typeIntermediaire,numPolice,naturePolice,typePolice,Etat_Police,dateEffetPolice,dateEcheancePolice,dateRemiseEnVigueure,dateRemiseEnVigueureajuste
6908,1089378,11,191,1,101088957,R,I,V,2017-11-18,1118.0,NaN,NaT
1041,2727203,11,191,1,101088957,R,I,V,2017-11-18 00:00:00,1118.0,2017-11-18 00:00:00.000000,2017-11-18

In [30]:
police[police["numPolice"]=="CI0555N00090308"]

,CodePolice_id,codeCompagnie,codeAgence,typeIntermediaire,numPolice,naturePolice,typePolice,Etat_Police,dateEffetPolice,dateEcheancePolice,dateRemiseEnVigueure,dateRemiseEnVigueureajuste
633640,880065,14,822,1,CI0555N00090308,R,I,V,2017-11-30,1130.0,NaN,NaT
17379,2757053,14,822,1,CI0555N00090308,R,I,V,2017-11-30 00:00:00,1130.0,2017-11-30 00:00:00.000000,2017-11-30

In [31]:
police.drop(police[police["CodePolice_id"]=="880065"].index, inplace = True)

In [32]:
police.drop(police[police["CodePolice_id"]=="1089378"].index, inplace = True)

In [34]:
police.isnull().sum()

CodePolice_id                      0
codeCompagnie                      0
codeAgence                         0
typeIntermediaire                  0
numPolice                          0
naturePolice                       0
typePolice                         0
Etat_Police                        0
dateEffetPolice                    0
dateEcheancePolice             91884
dateRemiseEnVigueure          937280
dateRemiseEnVigueureajuste    937280
dtype: int64

In [35]:
police.to_csv("Dataset_clean/police_clean.csv",index=False)