In [3]:
#importation des librairies n√©cessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
from pandas_profiling import ProfileReport

In [4]:
Vehiculecsv= pd.read_csv('Dataset/Vehicule.csv',sep=";")

In [5]:
Vehiculexls = pd.read_excel('Dataset/Vehicule.xls')

In [5]:
Vehiculecsv.shape

(30128, 15)

In [6]:
Vehiculexls.shape

(1048575, 6)

In [7]:
Vehiculexls.columns

Index(['CodeVehicule_id', 'codeMarque', 'puissanceFiscal',
       'typeImmatriculation', 'energie', 'dateInsertion'],
      dtype='object')

In [8]:
Vehiculecsv.columns

Index(['id', 'numChassis', 'codeMarque', 'puissanceFiscal',
       'numImmatriculation', 'typeImmatriculation', 'energie', 'dateInsertion',
       'dateDerniereVisite', 'dateAjout', 'etatVehicule', 'dateMiseEpave',
       'DATE_RETRAIT', 'dateMiseCirculation', 'dateMiseAjourVehicule'],
      dtype='object')

In [9]:
Vehiculexls.head(3)

,CodeVehicule_id,codeMarque,puissanceFiscal,typeImmatriculation,energie,dateInsertion
0,696264,152,5,TU,ESSENCE,2017-10-05
1,696265,107,4,TU,ESSENCE,2017-10-05
2,696266,808,5,TU,ESSENCE,2017-10-05

In [10]:
Vehiculecsv.head(3)

,id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateDerniereVisite,dateAjout,etatVehicule,dateMiseEpave,DATE_RETRAIT,dateMiseCirculation,dateMiseAjourVehicule
0,61443,WVWZZZ1HZRW334645,107,6,9094TU74,TU,GASOIL,2017-10-05,NaN,2018-02-10 03:01:13.000000,V,NaN,NaN,NaN,NaN
1,61633,VF34C8FSCAS075280,29,6,5796TU146,TU,ESSENCE,2017-10-05,NaN,2018-02-10 07:12:11.000000,V,NaN,NaN,NaN,NaN
2,62599,MALA851CAFM211159,503,5,8836TU180,TU,ESSENCE,2017-10-05,NaN,2018-02-10 08:14:27.000000,V,NaN,NaN,NaN,NaN

In [11]:
Vehiculecsv.shape[0]-Vehiculecsv["dateDerniereVisite"].isnull().sum()

252

In [12]:
Vehiculecsv["dateAjout"].isnull().sum()

0

In [13]:
Vehiculecsv["etatVehicule"].isnull().sum()

0

In [14]:
Vehiculecsv.shape[0]-Vehiculecsv["dateMiseEpave"].isnull().sum()

1

In [15]:
Vehiculecsv.shape[0]-Vehiculecsv["DATE_RETRAIT"].isnull().sum()

0

In [16]:
Vehiculecsv.shape[0]-Vehiculecsv["dateMiseCirculation"].isnull().sum()

8363

In [17]:
Vehiculecsv.shape[0]-Vehiculecsv["dateMiseAjourVehicule"].isnull().sum()

8389

In [18]:
Vehiculecsv.drop(columns=["DATE_RETRAIT","dateMiseEpave","dateDerniereVisite"],inplace=True)

In [19]:
Vehiculecsv.isnull().sum()

id                           0
numChassis                   0
codeMarque                   0
puissanceFiscal              0
numImmatriculation           0
typeImmatriculation          0
energie                     60
dateInsertion                0
dateAjout                    0
etatVehicule                 0
dateMiseCirculation      21765
dateMiseAjourVehicule    21739
dtype: int64

In [20]:
Vehiculexls.isnull().sum().sum()

0

In [21]:
Vehiculexls["energie"].value_counts()

ESSENCE                538041
GASOIL                 499079
0                        8884
ESS-GAZ GPL              2561
ESS-GNC                     5
ESSENCE-ELECTRICITE         3
GAZ  GPL                    1
ELECTRICITE                 1
Name: energie, dtype: int64

In [22]:
Vehiculexls.columns

Index(['CodeVehicule_id', 'codeMarque', 'puissanceFiscal',
       'typeImmatriculation', 'energie', 'dateInsertion'],
      dtype='object')

In [23]:
Vehiculecsv.columns

Index(['id', 'numChassis', 'codeMarque', 'puissanceFiscal',
       'numImmatriculation', 'typeImmatriculation', 'energie', 'dateInsertion',
       'dateAjout', 'etatVehicule', 'dateMiseCirculation',
       'dateMiseAjourVehicule'],
      dtype='object')

In [24]:
Vehiculecsv.rename(columns={"id": "CodeVehicule_id"},inplace=True)

In [25]:
Vehicule = pd.concat([Vehiculecsv, Vehiculexls])

In [26]:
Vehicule.isnull().sum()

CodeVehicule_id                0
numChassis               1048575
codeMarque                     0
puissanceFiscal                0
numImmatriculation       1048575
typeImmatriculation            0
energie                       60
dateInsertion                  0
dateAjout                1048575
etatVehicule             1048575
dateMiseCirculation      1070340
dateMiseAjourVehicule    1070314
dtype: int64

In [27]:
Vehicule["energie"].value_counts()

ESSENCE                553388
GASOIL                 513644
0                        8990
ESS-GAZ GPL              2611
ESS-GNC                     5
ESSENCE-ELECTRICITE         3
GAZ  GPL                    1
ELECTRICITE                 1
Name: energie, dtype: int64

In [28]:
Vehicule[Vehicule["energie"]=="0"]["puissanceFiscal"].value_counts()

0     8971
23      10
24       6
3        1
16       1
8        1
Name: puissanceFiscal, dtype: int64

In [29]:
Vehicule.shape

(1078703, 12)

In [30]:
Vehicule.drop(Vehicule[Vehicule['energie'] =="0"].index, inplace = True)

In [31]:
Vehicule.shape

(1069417, 12)

In [32]:
Vehicule[Vehicule['energie'].isnull()]["puissanceFiscal"].value_counts()

0     59
11     1
Name: puissanceFiscal, dtype: int64

In [33]:
Vehicule.drop(Vehicule[Vehicule['energie'].isnull()].index, inplace = True)

In [34]:
Vehicule.shape

(1069297, 12)

In [35]:
Vehicule.isnull().sum()

CodeVehicule_id                0
numChassis               1039525
codeMarque                     0
puissanceFiscal                0
numImmatriculation       1039525
typeImmatriculation            0
energie                        0
dateInsertion                  0
dateAjout                1039525
etatVehicule             1039525
dateMiseCirculation      1061030
dateMiseAjourVehicule    1061005
dtype: int64

In [36]:
Vehicule["puissanceFiscal"].unique()

array([   6,    5,    4,   13,    7,    9,    8,   10,   12,   11,   16,
         15,   34,   17,   14,   65,   21,   28,   29,   18,   20,   30,
         32,   31,   25,   24,   39,   37,   46,   57,   52,    3,   19,
         22,   23,   26,   33,   66,   45,   51,   27,   62,   43,   36,
         75,   70,   80,    2,   40,   42,   63,   59,   78,   69,    1,
         68,   74,   41,   35,   47,   49,   67,   38,   76,  123,   44,
         77,   89,   64,   56,   98,   82,   55,   86,   88,   99,  249,
       1735,   48,   50,   72,   54,   60,   58,  143,  120,  174,   53,
         97,  125,  260,  100,   71, 8740,   79,   85,  191,  137,  101,
         92,   95,  140,   90,  196,   61])

In [37]:
Vehicule[Vehicule["puissanceFiscal"]==8740]

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
573528,532760,NaN,481,8740,NaN,AA,GASOIL,2017-10-05,NaN,NaN,NaN,NaN

In [38]:
Vehicule[Vehicule["puissanceFiscal"]==1735]

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
142547,237326,NaN,425,1735,NaN,ES,GASOIL,2017-10-05,NaN,NaN,NaN,NaN

In [39]:
Vehicule.drop(Vehicule[Vehicule['puissanceFiscal']==8740].index, inplace = True)
Vehicule.drop(Vehicule[Vehicule['puissanceFiscal']==1735].index, inplace = True)

In [40]:
Vehicule["typeImmatriculation"].unique()

array(['TU', 'RS', 'TRAC', 'ES', 'CMD', 'MD', 'CD', '-', 'PAT', 'MOTO',
       'MC', 'AA', 'IT', 'CC'], dtype=object)

In [41]:
#teb3a louzera
Vehicule[Vehicule["typeImmatriculation"]=="-"].head(3)

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
13947,1534273,ZCFCA70A305108149,184,8,2-218802,-,GASOIL,2018-07-31,2018-10-17 01:38:16.000000,V,2017-12-15 00:00:00.000000,2017-12-15 00:00:00.000000
14694,1541066,VF3DDHMW0JJ633718,29,5,19-363727,-,ESSENCE,2018-07-31,2018-11-06 06:52:30.000000,V,2018-07-04 00:00:00.000000,2018-07-04 00:00:00.000000
14985,1512828,HFB068386,984,16,2-214380,-,GASOIL,2018-07-31,2018-09-17 01:43:04.000000,V,2010-02-09 00:00:00.000000,2010-02-09 00:00:00.000000

In [42]:
Vehicule["etatVehicule"].unique()

array(['V', 'E', nan], dtype=object)

In [43]:
Vehicule["numImmatriculation"].unique()

array(['9094TU74', '5796TU146', '8836TU180', ..., '5892TU38', '4904TU102',
       nan], dtype=object)

In [44]:
Vehicule.shape

(1069295, 12)

In [45]:
len(Vehicule["numChassis"].unique())

29670

In [46]:
listvehiculeDupicated=[]
listvehiculeDupicated=Vehicule[Vehicule["CodeVehicule_id"].duplicated()]["CodeVehicule_id"]

In [47]:
Vehicule[Vehicule["CodeVehicule_id"]==696376]

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
6481,696376,VF3GBWJYB96110078,29,7,9691TU115,TU,GASOIL,2017-10-05,2018-02-24 04:33:58.000000,V,NaN,NaN
112,696376,NaN,29,7,NaN,TU,GASOIL,2017-10-05,NaN,NaN,NaN,NaN

In [48]:
Vehiculexls[Vehiculexls["CodeVehicule_id"]==696376]

,CodeVehicule_id,codeMarque,puissanceFiscal,typeImmatriculation,energie,dateInsertion
112,696376,29,7,TU,GASOIL,2017-10-05

In [49]:
Vehiculecsv[Vehiculecsv["CodeVehicule_id"]==696376]

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
6481,696376,VF3GBWJYB96110078,29,7,9691TU115,TU,GASOIL,2017-10-05,2018-02-24 04:33:58.000000,V,NaN,NaN

In [50]:
len(listvehiculeDupicated)

17005

In [51]:
Vehiculecsv[Vehiculecsv.CodeVehicule_id.isin(listvehiculeDupicated)].shape[0]

17005

In [52]:
Vehiculexls[Vehiculexls.CodeVehicule_id.isin(listvehiculeDupicated)].shape[0]

17005

In [53]:
Vehicule[( (Vehicule.CodeVehicule_id.isin(listvehiculeDupicated)) & (Vehicule["numImmatriculation"].isnull()) )].shape[0]

17005

In [54]:
Vehicule.drop(Vehicule[( (Vehicule.CodeVehicule_id.isin(listvehiculeDupicated)) & (Vehicule["numImmatriculation"].isnull()) )].index, inplace = True)

In [55]:
len(Vehicule[Vehicule["CodeVehicule_id"].duplicated()]["CodeVehicule_id"])

0

In [56]:
listduplicated=[]
listduplicated=Vehicule[(~Vehicule["numImmatriculation"].isnull()) & Vehicule["numImmatriculation"].duplicated()]["CodeVehicule_id"]

In [57]:
Vehicule[Vehicule["numImmatriculation"]=="5553TU125"]

,CodeVehicule_id,numChassis,codeMarque,puissanceFiscal,numImmatriculation,typeImmatriculation,energie,dateInsertion,dateAjout,etatVehicule,dateMiseCirculation,dateMiseAjourVehicule
15256,1493475,VF1LB270F36621197,30,5,5553TU125,TU,ESSENCE,2018-02-13,2018-07-06 14:23:19.000000,V,NaN,NaN
15257,1493476,VF1LB270F36621197,30,5,5553TU125,TU,ESSENCE,2018-02-13,2018-07-06 14:23:20.000000,V,NaN,NaN

In [58]:
Vehicule.drop(Vehicule[( (Vehicule.CodeVehicule_id.isin(listduplicated)) ) ].index, inplace = True)

In [59]:
listduplicated=[]
listduplicated=Vehicule[(~Vehicule["numImmatriculation"].isnull()) & Vehicule["numImmatriculation"].duplicated()]["CodeVehicule_id"]

In [60]:
Vehicule[~Vehicule["dateMiseCirculation"].isnull()].shape[0]

8123

In [61]:
Vehicule.isnull().sum()

CodeVehicule_id                0
numChassis               1022496
codeMarque                     0
puissanceFiscal                0
numImmatriculation       1022496
typeImmatriculation            0
energie                        0
dateInsertion                  0
dateAjout                1022496
etatVehicule             1022496
dateMiseCirculation      1043641
dateMiseAjourVehicule    1043616
dtype: int64

In [61]:
Vehicule.to_csv("Dataset_clean/Vehicule_clean.csv",index=False)